lib/HMMVerifier/Service References/HMM/ServiceHMM1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://proteomics.fiocruz.br/hmmservice/ServiceHMM.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/hmm3" />
  <xs:import schemaLocation="http://proteomics.fiocruz.br/hmmservice/ServiceHMM.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Scan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fastaSequence" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/hmm3" minOccurs="0" name="ScanResult" nillable="true" type="q1:ArrayOfHMMResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Scans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fastaSequences" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/hmm3" minOccurs="0" name="ScansResult" nillable="true" type="q3:ArrayOfHMMResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilteredScans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fastaSequences" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="iEvalue" type="xs:double" />
        <xs:element minOccurs="0" name="qEValue" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilteredScansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/hmm3" minOccurs="0" name="FilteredScansResult" nillable="true" type="q5:ArrayOfHMMResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>