lib/SEPro/Service References/HMM/ServiceHMM2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://proteomics.fiocruz.br/hmmservice/ServiceHMM.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/hmm3" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Scan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fastaSequence" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/hmm3" minOccurs="0" name="ScanResult" nillable="true" type="q1:ArrayOfHMMResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>