lib/SEProQ/uniq/ProteinCoverageViewer/Service References/HMMService/ServiceHMM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/hmm3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/hmm3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHMMResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HMMResult" nillable="true" type="tns:HMMResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHMMResult" nillable="true" type="tns:ArrayOfHMMResult" />
  <xs:complexType name="HMMResult">
    <xs:sequence>
      <xs:element name="_x003C_ACC_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_AFrom_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ATo_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Accession_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CEvalue_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_DBias_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_DFrom_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DScore_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_DTo_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EnvFrom_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_EnvTo_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IEvalue_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_No_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Of_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_QAccession_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_QEValue_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_QLen_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_QName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_QSequenceBias_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_QSequenceScore_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_TLen_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TargetName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HMMResult" nillable="true" type="tns:HMMResult" />
</xs:schema>